* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  a:hover{
    background-color: ghostwhite;
  }

body {font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 10;
}

/* HEADER / NAV BAR STYLES START */

header {
    background-color: rgb(119, 145, 122);
    padding: 20px 35px;
}

header h1 {
font-weight: 10;
font-size: 36px; 
margin: 0;
display: inline;
justify-content: space-between;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
} 

header nav {
    margin: 7px 0;
    float: right; 
    display: inline;
  }
  

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  } 

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
  } 
/* HEADER / NAV BAR STYLES END */ 


/* FOOTER STYLES START */

footer {
    background-color: rgb(119, 145, 122);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
} 

footer h1 {
  font-weight: 10;
  font-size: 47px; 
  margin: 0;
  display: inline;
  justify-content: space-between;
  }

  .c-me{
      display: flex; 
      justify-content: space-around;
      
  }

  .c-me h1{
    
  }

  .footer-links{
    margin-top: 25px;
  }


/* FOOTER STYLES END */ 

/* HERO STYLES START */ 

.hero {
    background-image: url('../images/hero.jpeg');
    background-size: cover;
    width: 100vw;
    height: 25vh;
  
  } 

  .hero-subtitle h1 {
      float: right;
      margin: 0;
      position: absolute;
      bottom: 520px;
      right: 100px;
      background-color: rgb(216, 194, 156);
      font-size: 35px;
      font-weight: 10;
  } 

  .hero-photo{
    background-image: url('../images/portfolio.jpeg');
  }

  /* HERO STYLES END */ 

  /* ABOUT ME START*/ 

  .me{
      display: flex; 
      justify-content: space-around;

  }

  .flex-row-1{
      display: flex;
      font-size: 35px;
      padding-left: 10%;
      font-weight: 10;
      float: left;
  }

  .flex-row-1 h1{
    font-weight: 10;
    margin: 10px;
      padding: 20px;
    
  }

  .about-me-text{
      display: flex; 
      font-size: 20px;
      width: 70%;
      padding-left: 3.5%;
      justify-content: space-around;
      margin: 10px;
      padding: 20px;
      font-weight: 10;
  } 

  .vertical-line-1{
    border-left: 6px solid rgb(134, 109, 75);
  height: 150px;
  position: absolute;
  left: 26%;
  margin-right: -3px; 
  margin: 10px;
  padding: 20px;
  }

   /* ABOUT ME END*/ 

   /* WORK START*/ 

  .portfolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  
  } 

  .portfolio > div {
    background-color: #f1f1f1;
    width: 700px;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    padding-left: 3.5%;
    font-weight: bolder;
  } 

  .portfolio > div:hover{
    background-color: ghostwhite;
  }

  .portfolio .surf-report{
    line-height: 150px;
    width: 1000px;
    background-image: url("../images/surf.jpg");
    background-size:cover;
    font-weight: bolder;
    background-repeat: no-repeat;
    
  } 

  .portfolio .led-wall{
    line-height: 50px;
    justify-content: flex-end;
    width: 490px;
    background-image: url("../images/led-wall.jpeg");
    color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .portfolio .calculator{
      line-height: 50px;
      justify-content: flex-end;
      width: 490px;
      background-image: url("../images/calculator.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
    } 

    .portfolio .pastel-puzzels{
      line-height: 50px;
      justify-content: flex-end;
      width: 490px;
      background-image: url("../images/pastel.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
    } 

    .portfolio .run-buddy{
      line-height: 50px;
      justify-content: flex-end;
      width: 490px;
      background-image: url("../images/run-buddy.png");
      background-size:cover;
      background-repeat: no-repeat;
    }

    .vertical-line-2{
      border-left: 6px solid rgb(134, 109, 75);
    height: 500px;
    position: absolute;
    left: 26%;
    margin-right: -3px; 
    margin: 10px;
    padding: 20px;
    }

   
    .work-text{
      display: flex;
      font-size: 35px;
      padding-left: 10%;
      font-weight: 10;
  } 

  .work-text h1{
    font-weight: 10;
    margin: 10px;
    padding: 100px;
    } 

     /* WORK End*/ 


    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 980px) {
      .hero h1{
        display: none;
      } 

      .vertical-line-1{
        display: none;
      }
      
      .vertical-line-2{
        display: none;
      }
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hero h1{
    display: none;
  } 

  .vertical-line-1{
    display: none;
  }
  
  .vertical-line-2{
    display: none;
  }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
  .hero h1{
    display: none;
  } 

  .vertical-line-1{
    display: none;
  }
  
  .vertical-line-2{
    display: none;
  }
}

